<!Doctype html>
<html>
    <head>
        <title>Let's Play!</title>
    </head>
    <body>
        <form action="/madlib">
            <label for="field-person">Please give me a person: </label>
                <input type="text" name="person" id="field-person"></input>
            <br>
            <label for="field-color">Please give me a color:</label>
                <input type="text" name="color" id="field-color"></input>
            <br>
            <label for="field-noun">Please give me a noun:</label>
                <input type="text" name="noun" id="field-noun"></input>
            <br>
            <label for="field-adjective">Please give me a adjective:</label>
                <input type="text" name="adjective" id="field-adjective"></input>
            <br>
            <input type="submit">
        </form>
    </body>
</html>